// all blame for the monolithic stylesheet goes to my laziness to learn webpack

body {
  margin: 0;
}

.text() {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 18px;
}

#root {
  .text();
  padding: 100px;
}

*:focus {
  outline: none;
}

input, textarea, select, button {
  .text();
  box-sizing: border-box;
  margin: 0;
  resize: none;
}

.table-view {
  border: 1px solid #cccccc;
  display: grid;
  position: relative;

  .cell-editor {
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

.cell-view {
  border: 1px solid #cccccc;
  padding: 4px 0;

  &.header {
    border-bottom-color: #aaaaaa;
    border-bottom-width: 2px;
    font-weight: 700;
  }

  .value {
    overflow: hidden;
    // let overflow text extend into horizontal padding but not vertical padding
    padding: 0 6px;
  }
}

.cell-editor-view {
  border: 2px solid deepskyblue;
  bottom: -1px;
  caret-color: transparent;
  left: -1px;
  overflow: hidden;
  padding: 4px 0;
  position: absolute;
  right: -1px;
  top: -1px;

  &.editing {
    caret-color: auto;
  }

  &.header {
    bottom: 0px;
  }

  textarea {
    border: none;
    // let overflow text extend into horizontal padding but not vertical padding
    padding: 0 6px;
    width: 100%;
  }

  &.header textarea {
    font-weight: 700;
  }
}
