// all blame for the monolithic stylesheet goes to my laziness to learn webpack

body {
  margin: 0;
}

.text() {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 18px;
}

#root {
  .text();
  padding: 80px;
}

*:focus {
  outline: none;
}

input, textarea, select, button {
  .text();
  box-sizing: border-box;
  margin: 0;
  resize: none;
}

.table-view {
  border: 1px solid #cccccc;
  display: grid;
  margin-top: 20px;
  position: relative;

  .cell-editor {
    background: white;
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

.cell-view {
  border: 1px solid #cccccc;
  padding: 4px 0;

  &.header {
    border-bottom-color: #aaaaaa;
    border-bottom-width: 2px;
    font-weight: 700;
  }

  .value {
    overflow: hidden;
    // let overflow text extend into horizontal padding but not vertical padding
    padding: 0 6px;
    /*
     * Chrome has a bug where `white-space: normal` on a textarea is treated like
     * `white-space: pre`, causing a space after a word that overflows to shows up
     * at the start of the next line. This differs from a div. Not an issue in
     * Firefox.
     *
     * Preferred behavior here is `white-space: normal` but given the Chrome bug,
     * consistency between textarea and div is preferred higher. Thus, set
     * `white-space: pre-wrap` on both the textarea and the div. :-(
     *
     * Alternatively, consider replacing every cell-view div with a textarea...
     */
    white-space: pre-wrap;
  }
}

.cell-editor-view {
  border: 2px solid deepskyblue;
  bottom: -1px;
  caret-color: transparent;
  left: -1px;
  overflow: hidden;
  padding: 4px 0;
  position: absolute;
  right: -1px;
  top: -1px;

  &.editing {
    caret-color: auto;
  }

  &.header {
    bottom: 0px;
  }

  textarea {
    border: none;
    height: 100%;
    // let overflow text extend into horizontal padding but not vertical padding
    padding: 0 6px;
    overflow-wrap: normal;
    /*
     * Chrome has a bug where `white-space: normal` on a textarea is treated like
     * `white-space: pre`, causing a space after a word that overflows to shows up
     * at the start of the next line. This differs from a div. Not an issue in
     * Firefox.
     *
     * Preferred behavior here is `white-space: normal` but given the Chrome bug,
     * consistency between textarea and div is preferred higher. Thus, set
     * `white-space: pre-wrap` on both the textarea and the div. :-(
     *
     * Alternatively, consider replacing every cell-view div with a textarea...
     */
    white-space: pre-wrap;
    width: 100%;
  }

  &.header textarea {
    font-weight: 700;
  }
}
